code {
  color: inherit;
}

.activity {
  min-height: 700px;
  background: #4c495c;
  color: #8af5b6 !important;
  z-index: 1;
  font-family: "Viga", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

.head__wrapper {
  text-align: center;
  color: #8af5b6;
  padding: 0 48px;
}

.card__wrapper {
  padding: 0 3rem;
}
.activity__card {
  margin-top: 30px;
}
.activity__card > .card {
  color: #93f9b9;
  text-align: center;
}
.card {
  border: #93f9b9 1px solid;
  outline: none;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.card-header {
  color: #4c495c;
  background: linear-gradient(180deg, #63bd9d 0%, #93f9b9 71.79%);
  position: relative;
}
.material-icons{
  position: absolute;
  top: 8px;
  right: 12px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
.add__btn {
  display: block;
  width: fit-content;
  margin: 1rem auto;
  padding: 10px;
  background: #93f9b9;
  border-radius: 10px;
  color: #4c495c;
  transition: all 0.5s;
}
.add__btn:hover {
  text-decoration: none;
  background: #75ca95;
  color: #222222;
}
.card-body {
  background: #4c495c;
}
.btn__activity {
  background-color: transparent;
  border: 1px #93f9b9 solid;
  color: #93f9b9;
  font-size: 1.25rem;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
}
.btn__activity:hover {
  background-color: #93f9b9;
  color: #4c495c;
}
