@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1d976c 0%, #93f9b9 71.79%);
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(76, 73, 92);
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-item{
  padding: 0;
}
.dropdown-item:hover{
  background: none;
}
.dropdown-item a{
  padding: 5px 20px;
  color: #93f9b9;
  display: block;
  width: 100%;
}
.dropdown-item a:hover{
  background: #93f9b9;
  color: #4c495c !important;
}
a:hover{
  text-decoration: none;
}

.base__font__viga {
  font-family: "Viga", sans-serif !important;
  font-size: 22.5px;
  text-decoration: none !important;
  /* background: linear-gradient(180deg, #1d976c 0%, #93f9b9 71.79%); */
  color: #93f9b9 !important;
  margin: 0 0 0 32px;
}
.fback{
  position: relative;
}
a.fback::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #93f9b9;
  position: absolute;
  display: block;
  transition: all 0.5s;
  border-radius: 3px;
  margin-left: inherit;
  bottom: -10px;
}
.active-nav::after{
  content: "";
  width: 100% !important;
  height: 3.2px !important;
  background-color: #93f9b9 !important;
  position: absolute !important;
  display: block !important;
  bottom: -10px !important;
  transition: all 0.5s !important;
  border-radius: 3px !important;
  margin-left: inherit !important;
}
a.fback:hover::after{
  width: 100%;
}
.navbar-toggler {
  background: linear-gradient(180deg, #1d976c 0%, #93f9b9 71.79%);
  padding: 4px 8px;
  border: 0;
}

button:focus {
  outline: none;
}

.social {
  position: relative;
  left: 50%;
  transform: translateX(-92%);
  flex-direction: row;
}
.social__link {
  margin: 0 9px;
}

.navbar__mod {
  padding: 2px 3vw;
  position: fixed;
  z-index: 2;
  width: 100%;
  background: transparent;
  transition: ease-in all 0.2s;
}
.navbar__backdrop {
  background: rgba(76, 73, 92, 0.308);
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.21);
  z-index: 1000;
}

.copyr {
  text-align: center !important;
  background: #4c495c !important;
}

.copyr p {
  margin: auto !important;
  padding: 10px 0 !important;
  color: #93f9b9 !important;
  text-indent: unset;
}

.profile__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.prof__name{
  font-size: .9rem;
}

@media screen and (max-width: 992px) {
  .base__font__viga {
    margin: 20px 0;
  }
  .social {
    left: 8px;
    transform: translateX(0);
    text-align: right;
    margin: 20px 0;
    flex-direction: row-reverse;
  }

  .collapse {
    padding-bottom: 10px;
  }

  .text__navbar {
    text-align: right;
  }
  .nav-item{
    margin-top: 20px;
  }

  .fback::after {
    display: none !important;
  }
}
