input{
  border: none !important;
  border-radius: 8px 0 0 8px;
  outline: none !important;
  flex: 1;
  padding: 5px 10px !important;
}

code{
  width: fit-content;
  margin: auto;
  display: block;

}

table {
  max-width: 800px !important;
  margin-top: 20px;
  margin-bottom: 0 !important;
}
th{
  text-align: center;
}
td a{
  font-size: 1.2rem;
  font-weight: 700;
  color: aquamarine;
}
td a:hover{
  color: rgb(90, 182, 151);
}
.btn__search{
  border-radius: 0 8px 8px 0;
  /* border: 1px solid white; */
  font-size: 1.3rem;
  width: 45px;
  background: #3c3a49;
}
.btn__search:hover{
  cursor: pointer;
  background: #2e2d38;
}
.search__bar{
  
  display: inline;
  background: white;
  padding: 1px 2px;
  
}

.searchbar_container{
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 1.5rem auto 2px;
}

.searchbar_container > *{
  padding: 5px;
}


@media screen and (max-width: 500px) {
  .desc__book{
    display: none;
  }
}