.details{
  background: #4c495c;
  min-height: 695px;
  position: relative;
  color: #8af5b6 !important;
  z-index: 1;
  font-family: "Viga", sans-serif;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  font-size: 1.2rem;
  padding: 100px 10%;
}

p{
  width: max-content;
  max-width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  text-indent: 25px;
}

.head{
  margin-bottom: 2px;
  text-indent: unset;
  font-size: 1.5rem;
  font-family: "Viga", sans-serif;
}
.nama__matkul{
  background-color: #8af5b6;
  color: #4c495c;
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  margin-bottom: 30px;
}
p{
  text-align: justify;
}
