.create__activity{
  min-height: 100vh;
  background: #4c495c;
  color: #8af5b6 !important;
  z-index: 1;
  font-family: "Viga", sans-serif;
  padding-top: 200px;
  padding-bottom: 100px;
}
.title__activity{
  margin-bottom: 20px;
}
.form{
  text-align: center !important;
  padding: 20px;
}

.form p label{
  display: block;
  font-size: 1.3rem;

}
.form p span{
  font-size: 1rem;
  display: block;
  margin-top: 5px;
  font-family: monospace;
  color: #acacac;
}

.form input{
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 6px 10px;
  max-width: 300px;
  width: 100%;

  background: #545165;
  border-bottom: #8af5b6 1px solid;
  transition: all .3s;
}
.form input:focus{
  -webkit-box-shadow: inset 5px 5px 16px 2px rgba(0,0,0,0.29); 
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25);
}
.btn{
  border: 1px solid #8af5b6;
  margin-top: 10px;
  width: 100px;
  border-radius: 5px;
  color: #8af5b6;
}
.btn:hover{
  background: #8af5b6;
  color: #4c495c;
}