
.create__courses {
  background: #4c495c;
  min-height: 720px;
  position: relative;
  color: #8af5b6 !important;
  z-index: 1;
  font-family: "Viga", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

.form{
  text-align: center;
  max-width: 80%;
  margin: auto;
}
input:focus, textarea:focus{
  -webkit-box-shadow: inset 5px 5px 16px 2px rgba(0,0,0,0.29); 
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25);
}

input, textarea, select, select option{
  width: 100%;
  color: #8af5b6 !important;
  background: #545165;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 8px;
  transition: all .5s ease;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  border-bottom: 1px solid #8af5b6;
  box-shadow: none;
}

form p label{
  color: #8af5b6;
  font-size: 1.2rem;
  margin-left: 1.5rem;
  margin-bottom: 10px;
}

form p{
  text-align: left;
  margin-bottom: 30px;
}
.title__course{
  margin-bottom: 2rem;
}
.btn.waves-effect.waves-light{
  background: transparent !important;
  /* transition: all .2s ease-in; */
  padding: 10px;
  display: flex;
  color: #ffffff;
  border: 1px #ffffff solid;
}
.btn.waves-effect.waves-light:hover{
  color: #8af5b6;
  /* border: 1px #8af5b6 solid; */
  border-color:  #8af5b6;
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: #97f3bd 0 -1px 4px, #53c783 0 -2px 10px;
}
.material-icons{
  margin-left: 8px;
}