.profile__padd{
  padding-top: 150px;
  text-align: center;
}

input{
  display: block;
  width: fit-content;
  margin: 5px auto 15px;
}
input[type=text],
input[type=email],
input[type=password]{
  max-width: 100%;
  width: 400px;
  border-radius: 8px;
  outline: none;
  border: 1px solid green;
  line-height: 2rem;
  padding: 2px 10px;
}
input[type=file]{
  border: 1px solid #8af5b6;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  overflow-x: hidden;
}

label{
  margin: 0;
}

.input-field{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 110px;
  margin: auto;
}

.center{
  margin: auto;
  width: fit-content;
}
.reg__btn{
  border-radius: 5px;
  color: #8af5b6;
  background: transparent;
  outline: none;
  border: #8af5b6 1px solid;
  padding: 2px 10px;
  width: 200px;
  max-width: 100%;
  margin-top: 15px;
}
.reg__btn:hover{
  color: #4c495c;
  background: #8af5b6;
}

.profile-pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.card{
  background: #4c495c !important;
  border: none;
  border-radius: 15px;
}
.card:first-child{
  margin-bottom: 15px;
}