.show__course{
  background: #4c495c;
  min-height: 720px;
  position: relative;
  color: #8af5b6 !important;
  z-index: 1;
  font-family: "Viga", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}
.matkul{
  width: 60%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  border: 1px solid #8af5b6;
  padding: 20px;
  border-radius: 10px;
}

.matkul__desc{
  flex: 1;
}

.matkul__detailBtn{
  display: flex;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: #ffffff;
}

.tambah__matkul{
  font-size: large;
  margin: auto;
  width: 60%;
  display: block;
  text-decoration: none;
  color: #8af5b6;
  text-align: center;
  border: 1px solid #8af5b6;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all .3s ease-in-out;
}
.tambah__matkul:hover{
  color: #4c495c;
  background: #8af5b6;
  text-decoration: none;
}
.delete{
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: rgb(255, 16, 16);
  padding: 5px 5px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  
}
.dosen{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
.delete i{
  margin-right: 5px;
}
.delete:hover{
  color: rgb(255, 255, 255);
  background:rgb(255, 50, 50);
}
.details{
  color: #8af5b6;
  font-size: 1.5rem;
}
.details:hover{
  color: #bcffd8;
}
@media screen and (max-width: 760px){
  .matkul{
    flex-direction: column;
    width: 80%;
  }
  .tambah__matkul{
    width: 80%;
  }
  .delete{
    margin-left: auto;
  }
}