:root {
  --raleway: "Raleway", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
  --monse: "Montserrat Alternates", sans-serif;
  --permanen: "Indie Flower", cursive;
}
h2 {
  font-weight: 800 !important;
}

.icon-center {
  margin: 0 8px;
}



body,
html {
  padding: 0;
  margin: 0;
}


.logo a h2 {
  margin: 15px;
}


.nav__text {
  margin: 0px 0 0 0;
  text-align: center;
}

/* ----------home page-------------*/
.profile__btn {
  background: linear-gradient(180deg, #1d976c 0%, #93f9b9 71.79%);
  border: none;
  border-radius: 5px;
  height: 40px;
  color: #4c495c;
  width: 150px;
  transition: all 1s ease-in-out;
  margin-top: 20px;
  font-family: var(--ubuntu);
  transform-origin: center;
}
.profile__btn:hover {
  background: linear-gradient(180deg, #93f9b9 0%, #93f9b9 71.79%);
  cursor: pointer;
}

.content {
  width: 100vw;
  height: 100vh;
  position: relativ;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter 0.4s ease-in-out;
}
.content__filter {
  background: linear-gradient(
    135deg,
    #4c495cea 53%,
    rgba(105, 129, 150, 0.452)
  );
  height: 100vh;
}

.content__profile {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 800px;
  transform: translate(-50%, -50%);
  padding: 0;
  z-index: 1;
  text-align: center;
  color: white;
  transition: all 0.4s ease-in-out;
}

.profile__image {
  clip-path: circle(40% at 50% 50%);
  width: 200px;
}

.profile__name {
  font-family: var(--raleway);
  font-size: 41px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.profile__detail {
  font-family: var(--permanen);
  font-weight: 300;
  color: #ffffff85;
  font-size: 1.2rem;
}
.education__img {
  width: 10vw;
}

/* ------------------------------------------------------------main------------------------------------------- */
.desc {
  text-align: center;
  font-family: var(--ubuntu);
  font-weight: 500;
  font-size: 1.1rem;
}

.desc h2 {
  font-family: var(--raleway);
  font-size: 2rem;
}
.desc__aboutme,
.work,
.skill,
.education {
  height: max-content;
  width: 100vw;
  padding: 90px 100px;
}

/* ---------------------------------------------------------------about-------------------------------------- */
.desc__aboutme {
  background: url(img/decor_2.svg) rgb(255, 255, 255);
  color: rgb(7, 7, 7);
  background-position: right 0px;
  background-repeat: no-repeat;
  padding: 100px 200px;
}
.desc__aboutme h2 {
  text-align: left;
}

.desc__aboutme p {
  text-align: left;
  margin: 1rem 0;
  line-height: 2rem;
  font-size: 1.5rem;
}

.aboutme__top,
.aboutme__bottom {
  display: flex;
  padding: 30px 0 15px !important;
}
.aboutme__topLeft {
  flex: 1;
}
.aboutme__topLeft p {
  margin-top: 10px;
  
}
.aboutme__topRight {
  margin-top: 50px;
  object-fit: contain;
  width: 400px;
  flex: 1;
  max-width: 400px;
}

.aboutme__bottomLeft {
  max-width: 400px;
  object-fit: contain;
  flex: 1;
  margin-top: 50px;
  margin-right: auto;
}
.aboutme__bottomRight p,
.aboutme__bottomRight p a {
  color: #5784fd;
}
.aboutme__bottomRight h2 {
  font-size: 1.8rem;
}
.aboutme__bottomRight h2,
.aboutme__bottomRight p {
  margin: 20px 0;
  text-decoration: none;
}
.aboutme__bottomRight h2,
.aboutme__bottomRight i {
  color: #4639b4;
}
.aboutme__bottomRight p a {
  text-decoration: none;
}
.aboutme__bottomRight i:hover {
  color: rgb(69, 158, 236);
}
/* --------------------------------------------------------work------------------------------------------------------ */
.work,
.education {
  background: rgba(231, 231, 231, 0.397);
  color: #000000;
}

.work h2,
.skill h2,
.education__title {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 50px;
  color: rgb(7, 7, 7);
}
.work__card {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 40px 0;
  border-radius: 20px;
  transition: box-shadow, transform 0.3s ease-out;
}

.work__card:hover {
  border-bottom: 2px rgb(255, 255, 255) solid;
  border-right: 2px rgb(255, 255, 255) solid;
  box-shadow: 4px 4px 3px 1px rgba(0, 0, 0, 0.25) inset;
  transform: scale(0.995);
}

.card__image img {
  width: 350px;
  border-radius: 10px;
}
.work__card .card__image:hover {
  float: left;
  transform: scale(1.03);
  opacity: 0.8;
}
.card__title {
  font-size: 1.5rem !important;
  margin: 10px 0 30px 60px !important;
}
.card__title a {
  font-size: 1rem;
  text-decoration: none;
  color: #4639b4;
}
.card__body {
  margin: 0;
  margin-left: 60px !important;
  text-align: left;
}
/* -------------------------------------------------------skill------------------------------------------------------ */
.skill {
  background: rgb(255, 255, 255) url(img/skill_img.jpg);
  background-size: 40vw;
  background-repeat: no-repeat repeat;
  background-position: right -255px;
  background-attachment: fixed;
  color: rgb(69, 158, 236);
  display: flex;
  justify-content: left;
}
.skill h2 {
  color: rgb(7, 7, 7);
}
.skill__wrapper {
  width: 50%;
}

.w3-light-grey,
.w3-container {
  margin-bottom: 2rem;
}

.skill__wrapper p {
  margin: 0.1rem 0;
}
/* ------------------------------------------------------education----------------------------------------------------- */
.education .education__cardName {
  margin-bottom: 0px;
  text-align: left;
  font-size: 1.8rem;
  font-family: var(--permanen);
}

.education__cardYear {
  text-align: left;
  margin-left: 60px;
  color: rgba(88, 88, 88, 0.548);
  margin: 0 0 2rem 60px;
}

.education__card {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  transition: box-shadow, transform 0.3s ease-out;
  justify-content: left !important;
  width: fit-content;
}

.education__card .card__image {
  transition: all 0.3s ease-in-out;
}
.card__image img {
  width: 350px;
  border-radius: 10px;
}

.education__cardMajor {
  margin: 0;
  margin-left: 60px !important;
  text-align: left;
}
.education__cardWrapper {
  display: flex;
  justify-content: space-evenly;
}
.education__cardName,
.education__cardYear,
.education__cardMajor {
  margin-left: 15px !important;
}


/* -------------------------------------------------------------responsif--------------------------------------------- */

@media (max-width: 992px) {
  .profile__name {
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
  }
  .education__img {
    width: 150px;
  }
  .education__cardWrapper {
    flex-direction: column;
  }
  .education__card {
    margin: auto;
    width: 465px;
  }
  .profile__image {
    width: 170px;
  }
  .profile__btn {
    margin-top: 30px;
  }
  .profile__detail {
    margin-top: 9px;
    font-size: 1.1rem !important;
  }
  .content__profile p {
    margin: 5px 0;
    line-height: normal;
  }
  .profile__name {
    font-size: 1.4rem;
  }

  .nav__text {
    font-size: 1rem;
  }

  .aboutme__bottomRight {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .desc__aboutme p {
    font-size: 1.2rem;
  }
  .aboutme__bottomRight h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {

  .aboutme__bottomLeft,
  .aboutme__topRight {
    display: none;
  }

  .desc__aboutme {
    padding: 80px 50px;
    background-position: 400px -100px !important;
  }

  .work__card {
    flex-direction: column;
    align-items: center;
  }

  .card__title,
  .card__body {
    margin: 10px auto !important;
    text-align: center !important;
  }

  .skill__wrapper {
    width: 80%;
  }
  .skill {
    background-size: 100vw !important;
  }
  .work__card {
    transform: scale(0.9);
  }
  .work__card:hover {
    transform: scale(0.89);
  }
  .profile__btn {
    transform: scale(0.9);
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
  }
  .footer {
    height: fit-content;
  }
  .flex1 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 15px;
  }
  .skill__wrapper {
    background: rgba(247, 247, 247, 0.767);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
  }

  .education__card {
    margin: auto;
  }
  .education {
    padding: 90px 50px;
  }

  .nav__text {
    text-align: center;
    width: 85%;
  }

  .profile__btn {
    margin-top: 0;
    transform: scale(0.8);
  }
  .profile__image {
    transform: scale(0.89);
  }
}



@media (max-width: 500px) {
  .content__profile {
    padding: 0 30px;
    width: 100vw;
  }

  .aboutme__top,
  .aboutme__bottom {
    flex-direction: column;
  }

  .desc__aboutme,
  .work,
  .skill,
  .education {
    padding: 30px;
  }
  .profile__btn {
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .education__card {
    width: 250px;
  }
  .education__img {
    margin: auto;
  }
  .education__cardName,
  .education__cardMajor,
  .education__cardYear {
    text-align: center !important;
    margin: 10px 0 !important;
  }
  .card__image {
    transform: scale(0.7);
  }
  .card__image:hover {
    transform: scale(0.73) !important;
  }
}
.work__card .card__image,
.education__card {
  transition: border, box-shadow 0.3s ease-in-out;
}
