.container-fluid {
  background: #4c495c;
}
.about {
  font-family: "Viga", sans-serif;
}
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.welcome__svg {
  width: 100%;
  min-width: 300px;
}
.welcome__button {
  margin-top: 20px;
  width: 20%;
  min-width: 70px;
  cursor: pointer;
}
.story3__container {
  padding: 4vw;
  z-index: 1;
}

.profile__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.me {
  object-fit: contain;
  max-width: 300px;
  height: max-content !important;
  margin: 0 auto;
  z-index: 1;
  margin-right: 20px;
}
.shadow__me {
  position: absolute;
  object-fit: contain;
  top: 50%;
  width: 500px;
  max-width: 100%;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile__desc {
  /* display: inline-block; */
  padding-top: 10px;
  max-width: 502px;
  margin: 0;
}
.sayhi {
  font-size: 1.875rem;
  color: #1d976c;
  line-height: 1.7rem;
  margin: 0;
}
.interest {
  font-size: 2.875rem;
  color: #4c495c;
  margin-bottom: 40px;
}

.title__st3 {
  font-size: 2.25rem;
  z-index: 2;
  position: relative;
}
.shadow__title {
  transform: translate(20px, -45px);
  z-index: 1;
  position: relative;
}
.title__st3::after {
  content: "";
  display: block;
  width: 132px;
  height: 5px;
  border-radius: 10px;
  background-color: #8af5b6;
}
.card__container {
  margin: 110px auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.card__content {
  background-color: #4c495c;
  padding: 1rem;
  max-width: 300px;
  height: 354px;
  margin: 0 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
    inset 3px 3px 10px rgba(255, 255, 255, 0.13);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__imgst3 {
  object-fit: contain;
}
.card__title {
  font-size: 1.125rem;
  margin: 0;
}
.card__desc {
  font-size: 1rem;
  font-weight: 200;
  color: #c3ffda;
  margin: 0;
}

.addition__::after {
  background-color: #4c495c;
  width: 109px;
}
.carousel {
  margin-bottom: 10vw;
  background: #8af5b700;
}
.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
  width: 100%;
}
.cell__desc {
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 900px;
  display: none;
  border-radius: 10px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  color: white;
  padding: 8vw 50px;
  transition: all 2s;
}
.carousel-cell:hover .cell__desc {
  display: block;
  cursor: pointer;
}
.carousel-cell img {
  width: 100%;
  display: block;
  max-height: 500px;
  min-height: 150px;
  max-width: 900px;
  border-radius: 10px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}
.desc__title {
  font-size: 1.5rem;
  display: block;
}
.desc__detail {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}
.end__div {
  min-height: fit-content !important;
  padding-bottom: 100px !important;
}

.paragraph {
  color: #3e3d3f;
}
.dark {
  background: #4c495c;
  min-height: 720px;
  position: relative;
  color: #8af5b6;
  z-index: 1;
}

.light {
  background: linear-gradient(90deg, #46d39c 0%, #8af5b6 100%);
  min-height: 767px;
  position: relative;
  color: #4c495c;
}

.wave {
  object-fit: contain;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -2px;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  margin-top: 5rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul .inner {
  padding: 20px;
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

ul li {
  margin: 0.5em 0;
}
.toggle div {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;
  padding: .75rem;

}
.toggle span {
  width: 100%;
  padding: .75rem;
  flex: 1;
}
ul li .toggle {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
  color: #fefefe;
  border: #737083 1px solid;
  border-radius: 5px !important;
  border-radius: 0.15em;
  transition: background 5s ease;
}

ul li .toggle:hover {
  background: linear-gradient(90deg, #46d39c 0%, #8af5b6 100%);
}
#accordion{
  padding: 100px 0 0;
}

@media screen and (max-width: 768px) {
  .profile__row {
    flex-direction: column;
    padding: 80px 15px !important;
  }
  .me {
    margin: 0;
    width: 250px;
  }
  .sayhi {
    font-size: 1.125rem;
  }
  .interest {
    font-size: 1.5rem;
  }

  .card__container {
    flex-direction: column;
    align-items: center;
  }
  .card__content {
    margin-bottom: 20px;
  }

  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 510px) {
  .interest {
    line-height: 40px;
    margin-top: 10px;
  }

  .title__st3 {
    font-size: 1.5rem;
    margin-top: 40px;
  }
  .card__container {
    margin-top: 55px;
  }
}

@media screen and (max-width: 375px) {
  .me {
    width: 100%;
  }
}
