{% extends 'story/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href={% static 'story/story3.css' %}>

{% endblock head %}


{% block title %}
<title>Altop | accordion</title>
{% endblock title %}


{% block body %}
<div id="accordion" class="dark">
  <h2 class="title__st3" style="width: fit-content; margin: auto;">accordion ah mantap</h2>
  <ul style="padding: 10px;" class="container accordion">
    <li>
      <div class="toggle" href=#>
        <span id="accordion-1">pengalaman organisasi/kepanitiaan</span> 

        <div>
          <a class="button-up">👆</a>
          <a class="button-down">👇</a>
        </div>

      </div>

      <p class="inner">
        banyak dah sibuk takut gamuat 😎
      </p>
    </li>

    <li>
      <div class="toggle" href=#>
        <span id="accordion-2">Prestasi</span> 
        <div>
          <a class="button-up">👆</a>
          <a class="button-down">👇</a>
        </div>
      </div>
      <p class="inner">
        berat badan turun 5kg dalam seminggu 🏆🥇
      </p>
    </li>

    <li>
      <div class="toggle" href=#>
        <span id="accordion-3">film favorit</span> 
        <div>
          <a class="button-up">👆</a>
          <a class="button-down">👇</a>
        </div>
      </div>
      <p class="inner">
        the mortal instrument, iron fist, dll. 🎬🎥🍿
      </p>
    </li>

    <li>
      <div class="toggle" href=#>
        <span id="accordion-4">aktivitas saat ini</span> 
        <div>
          <a class="button-up">👆</a>
          <a class="button-down">👇</a>
        </div>
      </div>
      <p class="inner">
        nonton drakor lahh ga sabar liburan 🎊
      </p>
    </li>
  </ul>
</div>
{% endblock body %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  
    $('.toggle span').click(function (e) {
      let $this = $(this).parent();

      if ($this.next().hasClass('show')) {
        $this.next().removeClass('show');
        $this.next().slideUp(350);
      } else {
        $this.parent().parent().find('li .inner').removeClass('show');
        $this.parent().parent().find('li .inner').slideUp(350);
        $this.next().toggleClass('show');
        $this.next().slideToggle(350);
      }
    });

    $('.button-up').click(function () {
      var accordion = $(this).parent().parent().parent();

      if (!accordion.is(':first-child')) {
        accordion.insertBefore(accordion.prev());
      } 
    })

    $('.button-down').click(function () {
      var accordion = $(this).parent().parent().parent();

      if (!accordion.is(':last-child')) {
        accordion.insertAfter(accordion.next());
      } 
    })
  
</script>
{% endblock script %}