{% extends 'story/base.html' %}
{% load static %}


{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href={% static 'story/activity.css' %}>
{% endblock head %}


{% block title %}
<title>Altop | Activity</title>
{% endblock title %}


{% block body %}
<div class="activity">
  <div class="head__wrapper">
    <h1>Activities</h1>
    <code>Join me do some activities by putting your name on the list(s).</code>
    <a href={% url 'story:create_activity' %} class="add__btn">Add an Activity</a>
  </div>
  <div class="card__wrapper row">
    {% for activity in activities %}
    <div class="activity__card col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>{{activity.title|title}}</h4>
          <a href={% url 'story:remove_activity' activity.id %}><i class="material-icons">close</i></a>
        </div>
        <div class="card-body">
          <h5>{{activity.description}}</h5>
          {% if activity.members.all.count > 0 %}
          <p style="text-align: left;">Participants:</p>
          <ul>
            {% for member in activity.members.all %}
            <li style="text-align: left; position: relative;"><p style="display: inline-block;">{{member}}</p> <a style="color: rgb(255, 41, 41); position: absolute; right: 10px;" href={% url 'story:kick_member' member.id %}>kick!!</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          <a href={% url 'story:add_member' activity.id %}>
            <div class="btn btn__activity"><code>I want to join</code></div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


</div>
{% endblock body %}


{% block script %}

{% endblock script %}