{% extends 'story/activity.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href={% static 'story/create_activity.css' %}>
{% endblock head %}


{% block body %}
<div class="create__activity">
  <form autocomplete="off" class="form" action={% url 'story:add_member' activity.id %} method="POST">
    <h2 class="title__activity">Join me on {{activity.title | title}}</h2>
    <h4><code>*{{activity.description}}*</code></h4>
    {% csrf_token %}
    {{ form.as_p }}
    
      <button class="btn" type="submit" name="action">
        Add
      </button>
    
    
  </form>
</div>
{% endblock body %}
  