{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Hello my name is Althof Rafaella Ramdhan, just an ordinary student that interested in Web Development and Travelling.">
    <meta name="author" content="Althof Ramdhan">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="shortcut icon" href={% static 'story/logo/icon.png' %} type="image/x-icon">
    <link rel="stylesheet" href={% static 'story/base.css' %}>
    
    {% block head %}
    {% endblock head %}

    {% block title %}
    {% endblock title %}

</head>

<body>
    
    {% include 'story/navbar.html' %}
    {% block body %}

    {% endblock body %}
    <footer>
        <div class="copyr opensans">
            <p>Copyright &copy; 2020, Althof</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script>
        $('#toogleNav').click(() => {
            if (window.scrollY === 0) {
                $('#navbar').toggleClass("navbar__backdrop");
            }
        })
        
        $(window).scroll(() => {
            if (window.scrollY) {
                $('#navbar').addClass("navbar__backdrop");
            } else {
                $('#navbar').removeClass("navbar__backdrop");
            }
        });

    </script>

    {% block script %}
    
    {% endblock script %}

</body>

</html>