{% extends 'story/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href={% static 'story/story3.css' %}>
<link rel="stylesheet" href={% static 'story/book.css' %}>
{% endblock head %}


{% block title %}
<title>Altop | Books</title>
{% endblock title %}


{% block body %}
<div class="dark" style="padding: 100px 0 0;">
  <h2 class="title__st3" style="width: fit-content; margin: auto;">Book Catalogue 📚</h2>

  <div class="container searchbar_container">
    <input type="text" name="book-title" id="input" onkeyup="getValue()" onkeypress="handleKeyPress()">
    <div class="btn__search" onclick="getValue()">🔍</div>
  </div>
  <code>*just type the word above! </code>

  <table class="container table table-dark">
    <tbody>
    </tbody>
  </table>

</div>
{% endblock body %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  let timer, timeoutVal = 1000;

  function getValue() {
    window.clearTimeout(timer);
    timer = window.setTimeout(() => {

      let el = $("#input").val()
      $("tbody").empty()

      fetch(`/dataBook/?q=${el}`)
        .then(response => response.json())
        .then(res => {
          res.items.forEach(book => {
            $("tbody").append(`
              <tr>
                <td><img src=${book.volumeInfo.imageLinks.thumbnail} alt=""></td>
                <td>
                  <a href=${book.volumeInfo.previewLink}>${book.volumeInfo.title}</a><br>
                  ${book.volumeInfo.authors}, ${book.volumeInfo.publisher}<br>
                  ${book.volumeInfo.publishedDate}<br>
                  <span class="desc__book"> <i>"${
                    String(book.volumeInfo.description).length>300
                      ?String(book.volumeInfo.description).slice(0,299)+'...'
                      :String(book.volumeInfo.description)
                    }"<i>
                  </span>
                </td>
                
              </tr>
            `)
          });
        })
        .catch(err => {
          console.log(err);
        })
    }, timeoutVal);
  }

  function handleKeyPress() {
    window.clearTimeout(timer);
    $("tbody").html("<p style='text-align: center;'>LOADING...</p>")
  }

  getValue();
</script>
{% endblock script %}