{% extends 'story/base.html' %}
{% load static %}
{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href={% static 'story/course_details.css' %}>
<script src="https://kit.fontawesome.com/f0cf88c973.js" crossorigin="anonymous"></script>
<link
  href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400|Raleway:400,800|Indie+Flower|Ubuntu:400,500,600,300&display=swap"
  rel="stylesheet">
{% endblock head %}
{% block title %}
<title>Altop | Course</title>
{% endblock title %}

{% block body %}
<div class="details">
  <h1 class="nama__matkul">{{matkul.nama_mata_kuliah}}</h1>
  <p class="head">Nama Dosen</p>
  <p>{{matkul.dosen_pengajar}}</p>
  <p class="head">jumlah SKS</p>
  <p>{{matkul.jumlah_sks}}</p>
  <p class="head">Deskripsi</p>
  <p>{{matkul.deskripsi_mata_kuliah}}</p>
  <p class="head">Semester tahun</p>
  <p>{{matkul.semester}} {{matkul.tahun_ajaran}}</p>
  <p class="head">Ruang Kelas</p>
  <p>{{matkul.ruang_kelas}}</p>
</div>


{% endblock body %}