{% extends 'story/activity.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href={% static 'story/create_activity.css' %}>
{% endblock head %}


{% block body %}
<div class="create__activity">
  <form autocomplete="off" class="form" action={% url 'story:create_activity' %} method="POST">
    <h2 class="title__activity">Create an Activity</h2>
    
    {% csrf_token %}
    {{ form.as_p }}
    
      <button class="btn" type="submit" name="action">
        Add
      </button>
    
    
  </form>
</div>
{% endblock body %}
  
  
