{% extends 'story/base.html' %}
{% load static %}

<!-- HEAD -->
{% block head %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://kit.fontawesome.com/f0cf88c973.js" crossorigin="anonymous"></script>
<link
href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400|Raleway:400,800|Indie+Flower|Ubuntu:400,500,600,300&display=swap"
rel="stylesheet">
<link rel="stylesheet" href={% static 'story/create_course.css' %}>
{% endblock head %}

{% block title %}
<title>Altop | Course</title>
{% endblock title %}


{% block body %}
  <div class="create__courses">
    <form autocomplete="off" class="form" action={% url 'story:create_course' %} method="POST">
      <h2 class="title__course">Tambah Mata Kuliah</h2>
      <hr>
      {% csrf_token %}
      {{ form.as_p }}
      <div style="text-align: left; margin-top: 30px;">
        <button class="btn btn-large waves-effect waves-light" type="submit" name="action">
          Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
      
    </form>
  </div>
{% endblock body %}


{% block script %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
{% endblock script %}
  
  
