{% extends 'story/base.html' %}
{% load static %}

<!-- HEAD -->
{% block head %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://kit.fontawesome.com/f0cf88c973.js" crossorigin="anonymous"></script>
<link
  href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400|Raleway:400,800|Indie+Flower|Ubuntu:400,500,600,300&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href={% static 'story/story3.css' %}>
  <link rel="stylesheet" href={% static 'story/profile.css' %}>
{% endblock head %}

{% block title %}
<title>{{request.user.account.name}}'s Dashboard</title>
{% endblock title %}


{% block body %}
<div class="dark">
  <div class="container profile__padd">

    <div class="row">
      <div class="col l3 s12">
        <div style="text-align: center; padding: 0 0 20px;" class="card shadow card-body">
          <a class="btn waves-effect waves-light" href="{% url 'story:home' %}" style="
          background: white;
          color: #4c495c;
          border-radius: 15px 15px 0 0;
          margin-bottom: 10px;
          background: #4df3b9;
          ">
              &#8592; Back to 🏠
          </a>
          <h5 class="title__st3" style="width: fit-content; margin: auto auto 20px;">Edit Profile</h2>

          <img class="profile-pic" src="{{request.user.account.image}}">


        </div>
      </div>
      <div class="col l9 s12">
        <div style="padding: 10px;" class="card shadow card-body">
          <form class="profileset" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            {% for message in messages %}
            <div class="z-depth-1" style="padding: 6px;
            font-size: .8rem;
            margin: auto;
            color: #ffffff; 
            height: fit-content; 
            border-radius: 5px; 
            width: fit-content;
            background: transparent">
              {{message}}
            </div>
            {% endfor %}
            <button class="reg__btn" type="submit" name="action"
              style="border-radius: 5px;">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}


{% block script %}

{% endblock script %}