{% extends 'story/base.html' %}
{% load static %}

<!-- HEAD -->
{% block head %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://kit.fontawesome.com/f0cf88c973.js" crossorigin="anonymous"></script>
<link
    href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400|Raleway:400,800|Indie+Flower|Ubuntu:400,500,600,300&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href={% static 'story/story3.css' %}>
<link rel="stylesheet" href={% static 'story/profile.css' %}>
{% endblock head %}

{% block title %}
<title>Login</title>
{% endblock title %}


{% block body %}
<div class="dark">
    <div class="container profile__padd">
        <div class="">
            <h2 class="title__st3" style="width: fit-content; margin: auto auto 20px;">Login 👈</h2>
            <form class="site-form" action={% url 'story:login' %} method="post">
                {% csrf_token %}

                <div class ="input-field">
                    <i class ="material-icons prefix">face</i>
                    <label for="username">Username</label>
                </div>
                <input id="username" type="text" name="username">
                <div class ="input-field">
                    <i class ="material-icons prefix">lock</i>
                    <label for="password">Password</label>
                </div>
                <input id="password" type="password" name="password">

                {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                {% endfor %}
                <p style="margin-top: 30px;">or perhaps... you don't have an account yet? <a style="font-weight: 600; color: #b9ffd6;" href={% url 'story:register' %}>Register Here👋</a></p>
                <div class="center">
                    <input type="submit" value="Log In" class="reg__btn">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}


{% block script %}

{% endblock script %}