{% load static %}
<nav id='navbar' class="navbar navbar-expand-lg navbar-light navbar__mod">

    <a class="navbar-brand" href={% url 'story:home' %}>
        <img src={% static 'story/logo/altopLogo.svg' %} alt="logo-navbar">
    </a>

    <button id="toogleNav" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav social">



            <li class="nav-item">
                <a target="_blank" href='https://www.instagram.com/althof_rr/' class="social__link">
                    <img src={% static 'story/logo/instagram.svg' %} alt="">
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" href='https://www.linkedin.com/in/althofrr/' class="social__link">
                    <img src={% static 'story/logo/linkedin.svg' %} alt="">
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" href='https://github.com/althof3' class="social__link">
                    <img src={% static 'story/logo/github.svg' %} alt="">
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto text__navbar">
            {% with url_name=request.resolver_match.url_name%}

            <li class="nav-item">
                <a href={% url 'story:about' %}
                    class="nav_item base__font__viga fback {% if url_name == 'about' %}active-nav{% endif %}">About</a>
            </li>
            <li class="nav-item">
                <a href={% url 'story:course' %}
                    class="nav_item base__font__viga fback {% if url_name == 'course' %}active-nav{% endif %}">Courses</a>
            </li>
            <li class="nav-item">
                <a href={% url 'story:activity' %}
                    class="nav_item base__font__viga fback {% if url_name == 'activity' %}active-nav{% endif %}">Activity</a>
            </li>
            <li class="nav-item">
                <a href="" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"
                    class="nav_item base__font__viga dropdown-toggle">more</a>
                <div style="
                    right: 200px;
                    width: fit-content;
                    left: unset;
                    background: #32303d;
                " class="shadow-lg dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                    <button class="dropdown-item" type="button">
                        <a 
                        href="{% url 'story:accordion' %}">
                            Accordion 🎵
                        </a>
                    </button>
                    <button class="dropdown-item" type="button">
                        <a 
                        href="{% url 'story:book' %}">
                            Book Catalogue 📚
                        </a>
                    </button>
                </div>
            </li>
            <li class="nav-item">
                <a href="" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"
                class="nav_item base__font__viga dropdown-toggle">
                
                    {% if request.user.is_authenticated %}    
                    <img class="profile__img" src={{request.user.account.image}} alt="">
                    <span class="prof__name" >Hi, {{request.user.account.name}}</span>
                    {% else %}
                    <img class="profile__img" src={% static 'story/logo/user.svg' %} alt="">
                    {% endif %}
                        
                </a>
                <div style="
                    width: fit-content;
                    right: 40px;
                    left: unset;
                    background: #32303d;
                " class="shadow-lg dropdown-menu dropdown-menu-right dropdown-menu-lg-left">

                    
                    {% if request.user.is_authenticated %}
                        <button class="dropdown-item" type="button">
                            <a 
                            href="{% url 'story:dashboard' %}">
                                Dashboard 💨🛹
                            </a>
                        </button>
                        <button class="dropdown-item" type="button">
                            <a 
                            href="{% url 'story:logout' %}">
                                Logout 👉
                            </a>
                        </button>
                    {% else %}
                        <button class="dropdown-item" type="button">
                            <a 
                            href="{% url 'story:register' %}">
                                Register ✍
                            </a>
                        </button>
                        <button class="dropdown-item" type="button">
                            <a 
                            href="{% url 'story:login' %}">
                                Login 👈
                            </a>
                        </button>
                    {% endif %}
                        
                </div>
            </li>
            {%endwith%}
        </ul>
    </div>

</nav>