{% extends 'story/base.html' %}
{% load static %}

<!-- HEAD -->
{% block head %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://kit.fontawesome.com/f0cf88c973.js" crossorigin="anonymous"></script>
<link
href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400|Raleway:400,800|Indie+Flower|Ubuntu:400,500,600,300&display=swap"
rel="stylesheet">
<link rel="stylesheet" href={% static 'story/story3.css' %}>
<link rel="stylesheet" href={% static 'story/profile.css' %}>
{% endblock head %}

{% block title %}
<title>Register</title>
{% endblock title %}

{% block body %}
  <div class="dark">
  <div class="container profile__padd">
    <div class = "">
			<h2 class="title__st3" style="width: fit-content; margin: auto auto 20px;">Register ✍</h2>
			<form class="site-form" action={% url 'story:register' %} method="post">	
				{% csrf_token %}
				
				{% for field in form %}
					{{field.label}}
					{{field}}
				{% endfor %}
				{{ account_form }}

        {{form.errors}}
        <p style="margin-top: 30px;">already have an account? <a style="font-weight: 600; color: #b9ffd6;" href={% url 'story:login' %}>Login Here👋</a></p>
				<div class ="center">
					<input type="submit" value = "Sign Up" class = "reg__btn">
				</div>
			</form>
		</div>
  </div>
</div>
{% endblock body %}


{% block script %}

{% endblock script %}