{% extends 'story/base.html' %}
{% load static %}

<!-- HEAD -->
{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href={% static 'story/show_course.css' %}>
<script src="https://kit.fontawesome.com/f0cf88c973.js" crossorigin="anonymous"></script>
<link
    href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400|Raleway:400,800|Indie+Flower|Ubuntu:400,500,600,300&display=swap"
    rel="stylesheet">
{% endblock head %}

{% block title %}
<title>Altop | Course</title>
{% endblock title %}


{% block body %}
  <div class="show__course">
    <h2 style="margin: auto; max-width: max-content; margin-bottom: 40px;">List Mata Kuliah</h2>
    <a class="tambah__matkul" href={% url 'story:create_course' %}><i class="material-icons">add</i> Tambah Mata Kuliah</a>
    {% for matkul in matkuls %}
      <div class="matkul">
        <div class="matkul__desc">
          <a class="details" href={% url 'story:course_details' matkul.id %}>
            {{matkul.nama_mata_kuliah}} ({{matkul.jumlah_sks}} SKS)
          </a>
          <p class="dosen">{{matkul.dosen_pengajar}}</p>
        </div>
        <div class="matkul__detailBtn">
          
          <a class="delete" href={% url 'story:delete_course' matkul.id %}><i class="material-icons">delete_forever</i>Delete</a>
        </div>
      </div>
    {% endfor %}
      
  </div>
{% endblock body %}


{% block script %}
  
{% endblock script %}
  
  
