{% extends 'story/base.html' %}
{% load static %}

<!-- HEAD -->
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href={% static 'story/story3.css' %}>
{% endblock head %}

<!-- TITLE -->
{% block title %}
<title>Altop | About</title>
{% endblock title %}

<!-- BODY -->
{% block body %}

<div class="about">
  <div class="dark">
    <div class="welcome">
      <img data-aos="fade-down" src={% static 'story/img/welcome.svg' %} alt="" class="welcome__svg">
      <img data-aos="fade-up" id="btn" src={% static 'story/img/button.svg' %} alt="" class="welcome__button">
    </div>
    <img class="wave" src={% static 'story/img/light-wave.png' %} alt="">
  </div>
  <div id='profile' class="light">
    <div class="profile__row story3__container container">
      <img data-aos="fade-right" src={% static 'story/img/me.png' %} alt="" class="me">
      <div data-aos="fade-left" class="profile__desc">
        <p class="sayhi">Hi, i'm Althof Ramdhan.</p>
        <p class="interest">Frontend Developer</p>
        <p class="paragraph">I’m from Indonesia and currently as a 3rd semester student at the University of Indonesia
          majoring in Computer Science. my hobbies are sports such as jogging and swimming. i’ve been working on several
          mini-projects that uses the latest technology such as Reactjs, Vuejs, and Firebase. From all the projects that
          I have made, I am more interested in the Frontend field because it’s more fun when I playing around with
          animation.</p>
      </div>
    </div>
    <img class="shadow__me" src={% static 'story/img/shadow-me.png' %} alt="">
    <img class="wave" src={% static 'story/img/dark-wave.png' %} alt="">
  </div>
  <div class="dark">
    <div class="story3__container container">
      <div id="underline" class="title__st3">My Experience.</div>
      <img id="sd_title" class="shadow__title" src={% static 'story/logo/MyExperience.svg' %} alt="">
      <div class="card__container">
        <div data-aos="flip-left" class="card__content">
          <img class="card__imgst3" src={% static 'story/img/cf.png' %} alt="">
          <p class="card__title">Software Engineer Academy
            Compfest</p>
          <p class="card__desc">Responsible for being the LO of the team from the Software Engineer Academy camp
            participants.</p>
        </div>
        <div data-aos="flip-right" data-aos-delay="300" class="card__content">
          <img class="card__imgst3" src={% static 'story/img/fuki.png' %} alt="">
          <p class="card__title">IT Force bureau
            FUKI</p>
          <p class="card__desc">Responsible for updating new features and refactoring code that has been created and fix
            existing bugs.</p>
        </div>
      </div>
    </div>
    <img class="wave" src={% static 'story/img/light-wave.png' %} alt="">
  </div>
  <div class="light end__div">
    <div class="story3__container container">
      <div class="title__st3 addition__">My Projects.</div>
      <img id="sd_title2" class="shadow__title" src={% static 'story/logo/MyProjects.svg' %} alt="">
    </div>
    <div data-aos="zoom-in" class="carousel">
      <div class="carousel-cell">
        <a target="blank__" href="https://store-clone-ui.web.app/">
          <span class="cell__desc">
            <span class="desc__title">Amazon Clone</span>
            <span class="desc__detail">Amazon CLone is a mini-project that uses ReactJs and implements React's Context
              API
              to provide a state that can be used by all the components in it. Firebase is used for the login system
              using
              Google Auth.</span>
          </span>
        </a>
        <img src={% static 'story/img/amazon.png' %} alt="orange tree" />
      </div>
      <div class="carousel-cell">
        <a target="blank__" href="https://instagram-clone-84853.web.app/">
          <span class="cell__desc">
            <span class="desc__title">IG Clone</span>

            <span class="desc__detail">IG Clone is a project that I made with the help of tutorials from Youtube. In
              this
              project I made a clone of Instagram with photo / video post and comment features. Firebase acts as a
              storage
              provider for storing images or videos</span>
          </span>
        </a>
        <img src={% static 'story/img/ig.png' %} alt="One World Trade" />
      </div>
      <div class="carousel-cell">
        <a target="blank__" href="https://github.com/althof3/cvd-trckr">
          <span class="cell__desc">
            <span class="desc__title">Covid Tracker</span>
            <span class="desc__detail">COVID Tracker is a free app for your mobile phone. It will help us to protect
              each
              other and slow the spread of coronavirus (COVID-19) in Ireland.</span>
          </span>
        </a>

        <img src={% static 'story/img/covid.png' %} alt="drizzle" />
      </div>
    </div>
    <img class="wave" src={% static 'story/img/dark-wave.png' %} alt="">
  </div>
</div>

{% endblock body %}


{% block script %}

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
  var $carousel = $('.carousel').flickity({
    imagesLoaded: true,
    percentPosition: false,
    autoPlay: 3000,
    draggable: false
  });

  var $imgs = $carousel.find('.carousel-cell img');
  var docStyle = document.documentElement.style;
  var transformProp = typeof docStyle.transform == 'string' ?
    'transform' : 'WebkitTransform';
  var flkty = $carousel.data('flickity');

  $carousel.on('scroll.flickity', function () {
    flkty.slides.forEach(function (slide, i) {
      var img = $imgs[i];
      var x = (slide.target + flkty.x) * -1 / 3;
      img.style[transformProp] = 'translateX(' + x + 'px)';
    });
  });
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1000
  });
</script>
<script>
  const shadowMe = document.getElementsByClassName('shadow__me')[0];
  const welcome = document.getElementsByClassName('welcome')[0];

  $('#btn').click(() => {
    window.scrollTo(0, $('#profile').offset().top);
  })

  const welcomeHeight = welcome.offsetTop;
  const shadowHeight = welcome.offsetTop;
  $(window).scroll(() => {
    welcome.style.top = welcomeHeight + window.scrollY * 0.4 + "px";
    shadowMe.style.top = +window.scrollY * 0.6 + "px";
  })

  if ($(window).innerWidth() < 520) {
    $('#sd_title').attr('src', `{% static 'story/logo/MyExperience-2.svg' %}`);
    $('#sd_title').css('transform', 'translate(20px, -27px)');
    $('#sd_title2').attr('src', `{% static 'story/logo/MyProjects-2.svg' %}`);
    $('#sd_title2').css('transform', 'translate(20px, -27px)');
  }
</script>
{% endblock script %}