{% extends 'story/base.html' %}
{% load static %}

<!-- HEAD -->
{% block head %}
<link rel="stylesheet" href={% static 'story/story1.css' %}>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://kit.fontawesome.com/f0cf88c973.js" crossorigin="anonymous"></script>
<link
    href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400|Raleway:400,800|Indie+Flower|Ubuntu:400,500,600,300&display=swap"
    rel="stylesheet">
{% endblock head %}

<!-- TITLE -->
{% block title %}
<title>Altop | Home</title>
{% endblock title %}

<!-- BODY -->
{% block body %}
<main>
    <div class="content" id="bg">
        <div class="content__filter">
            <div>
                <img src={% static 'story/img/decor_1.svg' %} alt="decor1">
            </div>
            <div class="content__profile">
                <img class="profile__image" src={% static "story/img/profile.jpg" %} alt="profileImg">
                <p>
                    <span class="profile__name">Hello. My name is Althof.</span>
                </p>
                <p class="profile__detail">I'm computer science student at University of Indonesia</p>
                <p>NPM 1906350710</p>
                <p>class of 2019</p>
                <a href="#about1">
                    <button type="button" class="profile__btn">
                        <i class="fas fa-arrow-down fa-lg"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="desc">
        <div class="desc__aboutme" id="about1">
            <div class="aboutme__top">
                <div class="aboutme__topLeft">
                    <h2>About Meh</h2>
                    <p style="color: #5784fd;">
                        Hello my name is Althof Rafaella Ramdhan,
                        <br>just an ordinary student that interested in <br>
                        <span style="color: rgb(70, 57, 180);"> Web Development</span>
                        and <span style="color: #4639b4;">Travelling.</span>
                        <br>My Hobby are Learning new <span style="color: #4639b4;">Frontend Technology</span><br>and
                        <span style="color: #4639b4;">Jogging</span> at once a week.
                    </p>
                </div>

                <img class="aboutme__topRight" src={% static 'story/img/web_developer.svg' %} alt="">

            </div>
            <div class="aboutme__bottom">

                <img class="aboutme__bottomLeft" src={% static 'story/img/undraw_traveling.svg' %} alt="">

                <div class="aboutme__bottomRight">
                    <h2>Birthday</h2>
                    <p style="margin-bottom: 40px;">November 30th,2000</p>
                    <h2>Contact</h2>
                    <p>
                        <a href="">
                            <i class="icon-center fab fa-google-plus fa-lg"></i>
                            althoframdhan3@gmail.com
                        </a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/althof.ramdhan">
                            <i class="icon-center fab fa-facebook fa-lg"></i>
                            althof rafaella
                        </a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/althof_rr/">
                            <i class="icon-center fab fa-instagram fa-lg"></i>
                            althof_rr
                        </a>
                    </p>
                    <p>
                        <a href="https://twitter.com/Althof16">
                            <i class="icon-center fab fa-twitter-square fa-lg"></i>
                            althof16
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="work" id="work1">
            <h2>My Project</h2>
            <div class="work__card">
                <a class="card__image" href="https://althof3.github.io/landing_page_1/">
                    <img src={% static 'story/img/projek.png' %} alt="">
                </a>
                <div>
                    <h2 class="card__title">
                        Front End Challenge
                        <a href="https://www.frontendmentor.io/challenges">/ www.frontendmentor.io</a>
                    </h2>
                    <p class="card__body">Test my layout skills with this HTML & CSS only landing page. This
                        challenge is perfect to starting to get confident in laying out web pages.</p>
                </div>
            </div>
            <div class="work__card">
                <a class="card__image" href="#">
                    <img src={% static 'story/img/amazon_clone.jpg' %} alt="">
                </a>
                <div>
                    <h2 class="card__title">
                        Amazon Clone
                        <a href="https://store-clone-ui.web.app/">/ Amazon Clone</a>
                    </h2>
                    <p class="card__body">
                        This project is a mini project I created with ReactJs and implemented the Context API from
                        React to provide a state that can be used by all components in it. Firebase is used for the
                        Login system using Google Auth.
                    </p>
                </div>
            </div>
        </div>

        <div class="skill" id="notes1">
            <div class="skill__wrapper">
                <h2>My Skill</h2>
                <p>Programming</p>
                <div class="w3-light-grey w3-round-large">
                    <div class="w3-container w3-indigo w3-round-large" style="width:85%">85%</div>
                </div>
                <p>ReactJs</p>
                <div class="w3-light-grey w3-round-large">
                    <div class="w3-container w3-indigo w3-round-large" style="width:85%">85%</div>
                </div>
                <p>HTML, CSS, JS</p>
                <div class="w3-light-grey w3-round-large">
                    <div class="w3-container w3-indigo w3-round-large" style="width:90%">90%</div>
                </div>
                <p>Django</p>
                <div class="w3-light-grey w3-round-large">
                    <div class="w3-container w3-indigo w3-round-large" style="width:90%">90%</div>
                </div>
                <p>Firebase</p>
                <div class="w3-light-grey w3-round-large">
                    <div class="w3-container w3-indigo w3-round-large" style="width:80%">80%</div>
                </div>
            </div>
        </div>

        <div class="education" id="education1">
            <h2 class="education__title">My Education</h2>
            <div class="education__cardWrapper">
                <div class="education__card">
                    <table>
                        <tr>
                            <td>
                                <img class="education__img"
                                    src="https://upload.wikimedia.org/wikipedia/id/thumb/archive/2/27/20150625062952%21Makara-ui-fasilkom.png/120px-Makara-ui-fasilkom.png"
                                    alt="">
                            </td>
                            <td>
                                <h2 class="education__cardName">University of Indonesia </h2>
                                <p class="education__cardYear"><em>2019 - Present</em></p>
                                <p class="education__cardMajor">Computer Science</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="education__card">
                    <table>
                        <tr>
                            <td><img class="education__img" src={% static "story/img/sma.jpeg" %} alt=""></td>
                            <td>
                                <h2 class="education__cardName">SMAN 2 Depok </h2>
                                <p class="education__cardYear"><em>2015 - 2018</em></p>
                                <p class="education__cardMajor">Natural Science</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="education__card">
                    <table>
                        <tr>
                            <td>
                                <img class="education__img" src={% static "story/img/ipb.png" %} alt="">
                            </td>
                            <td>
                                <h2 class="education__cardName">IPB University</h2>
                                <p class="education__cardYear"><em>2018 - 2019</em></p>
                                <p class="education__cardMajor">Computer Science</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}


{% block script %}
<script>
    $(window).scroll(function () {
        parallax();
    })

    function parallax() {
        var wscroll = $(window).scrollTop();

        $('.content').css('background-position', 'center ' + (wscroll * 0.6) + 'px');
        $('.notes').css('background-position', 'right ' + (1250 - wscroll * 0.6) + 'px');
    }
</script>
{% endblock script %}
    